.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(240, 240, 240);
}


 .left-section{

  display: flex;
  align-items: center;
  padding-left: 10px;


}

 .middle-section{

 
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 10px;
  margin-right: 35px;
  max-width: 500px;


  
 }

  .right-section{

    width: 180px;
    margin-left: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-shrink: 0;
   margin-right: 16px;
   margin-left: 16px;
    


  }

 .notification-bell-icon{
    height: 24px;
    margin-left: 16px;
 }
  
 

 .current_user_picture{

     border-radius: 20px;
   height: 32px;
   margin-right: 16px;
 }


   
.menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    fill: #000; 
    margin-left: 10px;
    margin-right: 32px;


}

.youtube-logo {
    width: 93px; 
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;

}


.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(196, 196, 196);
  border-radius: 2px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
  width: 0;
}
.search-bar::placeholder{
   font-family: Roboto, Arial;
   font-size: 16px;

}

 .search-button{
    height: 40px;
    width: 60px;
    background-color: rgb(252, 250, 250);

   display: flex;
   align-items: center;
   border-style: solid;
   border-color:rgb(196, 196, 196) ;


 }

  .search-icon{
   height: 20px;
   margin-top: 4px;
   margin-left: 5px;

  

 }


  .voice-search-button{
     height: 40px;
    width: 40px;
    margin-left: 5px;
    border-radius: 20px;
    border: none;
       background-color: rgb(245, 245, 245);

 }
  .voice-icon{
  
    display: flex;

  }



   .add-video-button{
    display: flex;
    align-items: center;
    margin-left: 5px;
    border-radius: 10px;
    border-width: 30px;
    height: 26px;
    border: none;

   }

   .add-video{
       border: none;
   }
