.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  
}


 .left-section{
  width: 150px;
  display: flex;
  align-items: center;
  padding-left: 10px;


}




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


 .middle-section{

  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  
  
 }

  .right-section{
    width: 200px;
    background-color: aqua;

  }