  .thumbnail{
   width: 100%;

   
    
}
 .thumbnail-row{
    margin-bottom: 12px;
    position: relative;

 }
  
 
      .profile-picture{
       
        width: 40px;
        border-radius: 50px;
    }

  
  .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        row-gap: 40px;
    }

  .video-title{
  
    font-size: 14px;
    font-weight: 500;
    font-weight: bold; 
    display: block;
    margin-bottom: 15px;
  
   }




   .video-author,.video-stats{
  display: block;
    font-size: 12px;
    color: rgb(96, 96, 96);
   }

  .video-author{
    margin-bottom: 4px;
  }



  .video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
  }


  .video-time{
    background-color: black;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 8px;
  }