

.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}


.thumbnail{
    width: 300px;
    display: block;
   
    
}
 .thumbnail-row{
    margin-bottom: 12px;

 }

 
  .search-box {
    font-size: 20px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    padding-top: 10px;
    display: block;
    align-content: center;
  }


   p {
    font-family: 'Roboto',Arial;
    margin-top: 0;
    margin-bottom: 0;
   }

  
  .video-title{
    margin-top: 10px;  
    font-size: 14px;
    font-weight: 500;
    font-weight: bold; 
    display: block;
    margin-bottom: 15px;
  
   }




   .video-author,.video-stats{
  display: block;
    font-size: 12px;
    color: rgb(96, 96, 96);
   }

  .video-author{
    margin-bottom: 4px;
  }



    .channel-pictures{

        display: inline-block;
        vertical-align: top;
        width: 50px;
        margin-top: 5px;
        border-radius: 50px;
    }

      .profile-picture{
        display: inline-block;
        width: 40px;
        border-radius: 50px;
    }

  
    .video-infos{
        display: inline-block;
        width: 200px;
    }
  
    
/* 

  .subscribe-to-chennels{
        display: inline-block;
        width: 100px;
        vertical-align: top;
    }



   
   .button-subscribe{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(218, 23, 23);
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15 );
    

   }

   .button-subscribe:hover{
    cursor: pointer;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15 );
    opacity: 0.5;
   } */
